.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: flex-end; /* מיקום הכפתור בצד ימין */
    margin-bottom: 20px;
  }
  
  .header button mat-icon {
    margin-right: 5px; /* רווח קטן לפני הטקסט */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .course-card {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }