<header class="header">
  <div class="auth-buttons">
    @if (!isLoggedIn()) {
      <button routerLink="/login">
        <mat-icon>login</mat-icon>
        התחבר
      </button>
      <button routerLink="/register">
        <mat-icon>person_add</mat-icon>
        הרשם
      </button>
    } @else {
      <div class="user-info">
        <div class="avatar">
          <span class="tooltip-text">שלום, {{username() }}</span>
          {{ avatarInitial() }}
        </div>
        <button (click)="logout()">
          <mat-icon>logout</mat-icon>
          התנתק
        </button>
      </div>
    }
  </div>

  <nav class="nav-links">
    <a routerLink="/courses">
      <mat-icon>school</mat-icon>
      קורסים שלנו
    </a>
    <a routerLink="/contact-us">
      <mat-icon>contact_support</mat-icon>
      צור קשר
    </a>

    @if (userRole() === 'teacher') {
      <a routerLink="course-management">
        <mat-icon>settings</mat-icon>
        ניהול קורסים
      </a>
    }
  </nav>
  <div class="logo">OnlineCourses</div>
</header>
