<h2 mat-dialog-title>{{ data.isEdit ? 'Edit Course' : 'Add Course' }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Course Title</mat-label>
    <input matInput [(ngModel)]="course().title" placeholder="Enter course title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Course Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="course().description"
      placeholder="Enter course description"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>