<div class="container">
  @if (isLoading()) {
    <p>Loading courses...</p>
  } @else {
    @for (course of courses(); track course.id) {
      <div class="course-card">
        <div class="course-header">
          <img [src]="imageUrl" alt="{{ course.title }}" class="course-image" />
          <!-- אם מזהה הקורס נמצא ב-enrolledCourses, הצג אייקון -->
          <mat-icon 
            *ngIf="enrolledCourses().includes(course.id)" 
            color="primary" 
            class="enrolled-icon">
            check_circle
          </mat-icon>
        </div>

        <div class="course-info">
          <h1>{{ course.title }}</h1>
          <p>{{ course.description }}</p>
        </div>

        <div class="course-actions">
          <!-- הצגת כפתור מתאים לפי מצב ההרשמה -->
          <ng-container *ngIf="enrolledCourses().includes(course.id); else enrollButton">
            <button (click)="toggleEnrollment(course.id)">עזוב קורס</button>
            <!-- <button (click)="removeCourse(course.id)">הסר שיעור</button> -->
          </ng-container>
          <ng-template #enrollButton>
            <button (click)="toggleEnrollment(course.id)">הצטרף לקורס</button>
          </ng-template>

          <!-- כפתור לצפייה בפרטי הקורס -->
          <button (click)="viewCourseDetails(course.id)">צפה בפרטי הקורס</button>
        </div>
      </div>
    }
  }
</div>
