<div class="home-container">
 <div class="wide-image">
    <img src="images/homePage.jpg" alt="תמונה ראשית" />
  </div>

  <!-- שלושה אלמנטים עם תמונות ומידע -->
  <div class="image-grid">
    <div class="image-item elementor-widget-image elementor-animation-shrink">
      <img src="images\Group-26.webp" alt="תמונה 1" />
      <p class="highlighted-text">מקיף ובעברית</p>
    </div>
    <div class="image-item elementor-widget-image elementor-animation-shrink">
      <img src="images\איקון-3-02-1.webp" alt="תמונה 2" />
     <p class="highlighted-text">בזמן שנח לכם</p>
    </div>
    <div class="image-item elementor-widget-image elementor-animation-shrink">
      <img src="images\איקון-1-01-1.webp" alt="תמונה 3" />
     <p class="highlighted-text">מקצועי ומשדרג</p>
    </div>
  </div>
</div>
