.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* עיצוב התמונה לרוחב הדף */
.wide-image {
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.wide-image img {
  width: 100%;
  height: auto;
  display: block; /* מונע רווחים מיותרים מתחת לתמונה */
}

/* עיצוב שלושת התמונות */
.home-container .image-grid { 
   display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 20px 0;
  width: 80%; /* הקטנת הרוחב כדי ליצור רווחים בצדדים */
  margin: 0 auto; /* מרכוז אופקי */
}

.elementor-widget-image img {
  vertical-align: middle;
  display: inline-block;
}

.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.elementor-animation-shrink {
  transition-duration: .3s;
  transition-property: transform;
}

.elementor-animation-shrink:hover {
  transform: scale(0.9);
}

.image-item {
  width: 31%; /* Allows three items to fit side-by-side with some space */
  box-sizing: border-box;
  padding: 8px; /* Adds a small space around each image item */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack image and text vertically */
}

.image-item:hover {
  transform: scale(1.1); /* הגדלה במעבר עכבר */
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.highlighted-text {
  font-weight: bold; /* משקל גופן עבה */
  /* color: red; צבע אדום */
  font-size: 1.2em; /* גודל גופן גדול יותר */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* צל */
  margin-top: auto; /* Push text to the bottom of the flex item */
}

@media (max-width: 768px) {
  .home-container .image-grid { /* גם כאן נגביר ספציפיות */
    flex-direction: column; 
    align-items: center; 
  }
  .image-item {
    width: 90%; /* Adjust width for stacked items on smaller screens */
    margin-bottom: 15px; /* Add space between stacked items */
  }
}