<header class="header">
  <div class="auth-buttons">
    <button routerLink="/login">
      <mat-icon>login</mat-icon>
      התחבר
    </button>
    <button routerLink="/register">
      <mat-icon>person_add</mat-icon>
      הרשם
    </button>
  </div>


  <nav class="nav-links">
    <a routerLink="/courses">
      <mat-icon>school</mat-icon>
      קורסים שלנו
    </a>
    <a routerLink="/contact">
      <mat-icon>contact_support</mat-icon>
      צור קשר
    </a>
    <a routerLink="/teach">ללמד</a>
  </nav>
    <div class="logo">OnlineCourse</div>
</header>





