:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto; /* Allows the main content to grow and fill available space */
  display: flex; /* Optional: If you want main's direct children to also use flex */
  flex-direction: column; /* Optional: If main's children should stack vertically */
}

.container {
    /* padding: 20px; */
    text-align: center; /* זה כבר קיים */
}

h1 {
    text-align: center; /* מרכז את הכותרת הראשית */
}

h2 {
    text-align: center; /* מרכז את הכותרת המשנית */
}

.spacer {
    flex: 1 1 auto;
}