.container {
    padding: 20px;
    text-align: center; /* זה כבר קיים */
}

h1 {
    text-align: center; /* מרכז את הכותרת הראשית */
}

h2 {
    text-align: center; /* מרכז את הכותרת המשנית */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

  