<h1>ברוכים הבאים למערכת ניהול קורסים אונליין</h1>
<mat-toolbar color="primary">
  <span>מערכת ניהול קורסים אונליין</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/login">התחברות</button>
  <button mat-button routerLink="/register">הרשמה</button>
  <button mat-button routerLink="/courses">קורסים</button>
  <button mat-button routerLink="/admin/courses">ניהול</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <ng-container *ngIf="!isLoggedIn">
  <button mat-button routerLink="/login">התחברות</button>
  <button mat-button routerLink="/register">הרשמה</button>
</ng-container>

<ng-container *ngIf="isLoggedIn">
  <button mat-button routerLink="/courses">רשימת קורסים</button> -->
<!-- </ng-container> -->

<footer class="footer">
  <p>© 2023 מערכת ניהול קורסים אונליין - כל הזכויות שמורות</p>
</footer>
