<div class="details-container">
  <!-- כותרת הקורס -->
  <div class="course-header">
    <div class="course-info">
      <h1>{{ courseDetails?.title }}</h1>
      <p>{{ courseDetails?.description }}</p>
    </div>
  </div>

  <!-- רשימת שיעורים -->
  <div class="lessons-section">
    <!-- <h2>רשימת שיעורים</h2> -->
    @if (lessons.length > 0) {
      <div class="lessons-list">
        @for (lesson of lessons; track lesson.id) {
          <div class="lesson-card">
            <h3>{{ lesson.title }}</h3>
            <p>{{ lesson.content }}</p>
          </div>
        }
      </div>
    } @else {
      <p class="no-lessons">לא נמצאו שיעורים עבור הקורס.</p>
    }
  </div>
</div>